<div class="container mx-auto py-12">
  <div class="shadow-2xl relative">


    <!-- User Info Section -->
    <div class="space-y-6">
      <div>
        <strong class="text-white">First Name:</strong>
        <p class="text-gray-300"><%= @user.first_name %></p> 
      </div>

      <div>
        <strong class="text-white">Last Name:</strong>
        <p class="text-gray-300"><%= @user.last_name %></p>
      </div>

      <div>
        <strong class="text-white">Username:</strong>
        <p class="text-gray-300"><%= @user.username %></p>
      </div>

      <div>
        <strong class="text-white">Email:</strong>
        <p class="text-gray-300"><%= @user.email %></p>
      </div>

      <div>
        <strong class="text-white">Phone Number:</strong>
        <p class="text-gray-300"><%= @user.phone_number %></p>
      </div>

      <div>
        <strong class="text-white">Date of Birth:</strong>
        <p class="text-gray-300"><%= @user.dob %></p>
      </div>

      <div>
        <strong class="text-white">Age:</strong>
        <p class="text-gray-300"><%= ((Date.today - @user.dob.to_date).to_i / 365.25).to_i if @user.dob.present? %></p>
      </div>

      <div>
        <strong class="text-white">Blood Group:</strong>
        <p class="text-gray-300"><%= @user.blood_group %></p>
      </div>

      <div>
        <strong class="text-white">Gender:</strong>
        <p class="text-gray-300"><%= @user.gender %></p>
      </div>

      <div>
        <strong class="text-white">Bio:</strong>
        <p class="text-gray-300"><%= @user.bio %></p>
      </div>
    </div>
    
    <!-- Position the Update Profile Button -->
    <div class="absolute top-4 right-4">
      <%= link_to 'Update My Profile', edit_dashboard_path(current_user), class: 'bg-gray-700 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium' %>
    </div>

  </div>
</div>

<style>
  .container {
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: #393942;
    height: 100vh;
  }
  .container .shadow-2xl {
    padding: 50px;
    border-radius: 30px;
  }
  .bottm {
    margin-bottom: 80px;
  }
</style>
