<table class="min-w-full table-auto border-collapse">
  <thead>
    <tr class="bg-gray-100">
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">S.N.</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">User</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Title</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Amount</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Status</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Actions <%= link_to 'New', new_reimbursement_request_path, class: 'text-blue-500 hover:text-blue-700' %></th>
    </tr>
  </thead>
  <tbody>
    <% @reimbursement_requests.each_with_index do |request, i| %>
      <tr class="<%= cycle('bg-white', 'bg-gray-50') %>">
        <td class="px-4 py-2 text-sm text-gray-900"><%= i + 1 %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= request.expense.user.email %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= link_to request.expense.title, expense_path(request.expense), class: 'text-blue-500 hover:text-blue-700' %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= request.total_amount %></td>
        <td class="px-4 py-2 text-sm text-gray-900">

          <% status_class = case request.status
            when 'approved' then 'text-green-500'
            when 'rejected' then 'text-red-500'
            when 'pending' then 'text-yellow-500'
            else 'text-gray-500' # Default color in case the status is something unexpected
            end %>

          <span class="<%= status_class %>"><%= request.status.capitalize %></span>
        </td>
        <td class="px-4 py-2 text-sm">
          <div class="flex space-x-2 items-center">
            <!-- Show Link with Image -->
            <%= link_to reimbursement_request_path(request) do %>
              <%= image_tag '/show.png', alt: 'Show reimbursement_request', size: '15x15' %>
            <% end %>

            <!-- Edit Link with Image -->
            <%= link_to edit_reimbursement_request_path(request) do %>
              <%= image_tag '/edit.png', alt: 'Edit reimbursement_request', size: '15x15' %>
            <% end %>

            <!-- Delete Link with Image -->
            <%= button_to reimbursement_request_path(request), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= image_tag '/delete.png', alt: 'Delete reimbursement_request', size: '15x15' %>
            <% end %>

             <% if (current_user.admin? || current_user.hr?) && request.status == 'pending' %>
              <div class="relative">
                <!-- Icon to Toggle Dropdown -->
                <button class="bg-gray-200 text-gray-700 hover:bg-gray-300 py-2 px-4 rounded-md" onclick="toggleDropdown(<%= i %>)">
                  <%= image_tag '/drop-down.png', size: '15x15', alt: 'Actions' %>
                </button>
                
                <!-- Dropdown Menu -->
                <div id="dropdown-<%= i %>" class="hidden absolute right-0 mt-2 w-32 bg-white border rounded-lg shadow-lg">
                  <%= link_to 'Approve', approve_reimbursement_request_path(request), method: :put, class: 'block px-4 py-2 text-green-500 hover:text-green-300' %>
                  <%= link_to 'Reject', reject_reimbursement_request_path(request), method: :put, class: 'block px-4 py-2 text-red-500 hover:text-red-300' %>
                </div>

              </div>
            <% end %>
          </div>
               
        </td>
      </tr>
    <% end %>
    <tr><td><%= paginate @reimbursement_requests , class: 'flex items-center space-x-2' %></td> </tr>
  </tbody>
</table>

<script>
  function toggleDropdown(index) {
    // Get the dropdown element using the index
    const dropdown = document.getElementById(`dropdown-${index}`);
    
    // Toggle visibility
    dropdown.classList.toggle('hidden');
  }
</script>