<!-- Confirmation Modal -->
  <div id="confirmationModal" class="hidden fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center z-50">
    <div class="bg-white p-4 rounded-md shadow-lg">
      <h2 class="text-lg font-semibold"> Delete this Request?</h2>
      <div class="mt-4 flex justify-between">
        <button id="cancelDelete" class="bg-gray-300 px-4 py-2 rounded-md">Cancel</button>
        <button id="confirmDelete" class="bg-red-500 text-white px-4 py-2 rounded-md">Confirm</button>
      </div>
    </div>
  </div>

<div class="container mx-auto">
  <div class="new-button">
    <%= link_to new_reimbursement_request_path, class: 'text-white rounded-md shadow-md', style: 'background-color: #515156;' do %>
      <%= image_tag '/new.png', alt: 'New Ticket Icon', size: '30x30' %>
    <% end %>
  </div>

  <div class="ticket_filer">
    <%= form_with(url: reimbursement_requests_path, method: :get) do %>
    <%= form_with url: reject_request_reimbursement_request_path(0), method: :put, local: true, id: "rejectForm" do |f| %>

      <div>
        <table>
        <tr><td><%= label_tag :status, "Status", class: "text-sm font-medium text-black" %></td>          
          <td><%= select_tag :status, options_for_select([['All', '']] + ReimbursementRequest.statuses.keys.map { |status| [status.titleize, status] }, params[:status]), class: 'mt-1 p-2 border border-gray-300 rounded-md text-sm font-medium text-white bg-gray-700' %></td>        
          <td>
            <%= button_tag type: 'submit' do %>
              <%= image_tag '/filter.png', alt: 'Filter', size: '40x20' %>
            <% end %>
          </td>
        </tr>
          </table>
      </div>
    <% end %>
  </div>  

  <% if @reimbursement_requests.present? %>
    <table class="my_table">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 5%;">S.N.</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 15%;">User</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 15%;">Title</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 15%;">Amount</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 15%;">Status</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 20%;">Actions </th>
        </tr>
      </thead>
      <tbody>
      <div id="rejectModal" class="hidden fixed inset-0 z-50 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white p-6 rounded-md w-96">
          <h2 class="text-lg font-semibold mb-4">Reject Request</h2>
          <%= form_with url: reject_reimbursement_request_path(0), method: :put, local: true, id: "rejectForm" do |f| %>
            <%= hidden_field_tag :request_id, nil, id: "rejectRequestId" %>
            <div class="mb-4">
              <%= label_tag :reason, "Reason for rejection", class: "block text-sm font-medium text-gray-700" %>
              <%= text_area_tag :reason, "", required: true, class: "w-full mt-1 p-2 border border-gray-300 rounded-md" %>
            </div>
            <div class="flex justify-end space-x-2">
              <button type="button" onclick="closeRejectModal()" class="px-4 py-2 bg-gray-300 rounded-md">Cancel</button>
              <%= submit_tag "Submit", class: "px-4 py-2 bg-red-500 text-white rounded-md" %>
            </div>
          <% end %>
        </div>
      </div>
      
        <% @reimbursement_requests.each_with_index do |request, i| %>
          <tr class="<%= cycle('bg-white', 'bg-gray-300') %>">
            <td class="px-4 py-2 text-sm text-gray-900"><%= i + 1 %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= request.expense.user&.full_name %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= link_to request.expense.title, expense_path(request.expense), class: 'text-blue-500 hover:text-blue-700' %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= request.total_amount %></td>
            <td class="px-4 py-2 text-sm text-gray-900">

              <% status_class = case request.status
                when 'approved' then 'text-green-500'
                when 'rejected' then 'text-red-500'
                when 'pending' then 'text-yellow-500'
                else 'text-gray-500' # Default color in case the status is something unexpected
                end %>

              <span class="<%= status_class %>"><%= request.status.capitalize %></span>
            </td>
            <td class="px-4 py-2 text-sm">
              <div class="flex space-x-2 items-center">
                <!-- Show Link with Image -->
                <%= link_to reimbursement_request_path(request) do %>
                  <%= image_tag '/show1.png', alt: 'Show reimbursement_request', size: '15x15' %>
                <% end %>

                <!-- Edit Link with Image -->
                <%= link_to edit_reimbursement_request_path(request) do %>
                  <%= image_tag '/edit1.png', alt: 'Edit reimbursement_request', size: '15x15' %>
                <% end %>

                <%= button_to reimbursement_request_path(request), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-reimbursement_request-btn', id: "delete-btn-#{request.id}", form_id: "delete-form-#{request.id}" do %>
                  <%= image_tag '/delete1.png', alt: 'Delete reimbursement_request', size: '15x15' %>
                <% end %>

                <%= form_with(model: request, method: :delete, local: true, id: "delete-form-#{request.id}", class: 'hidden') do |form| %>
                  <%= form.submit 'Delete', class: 'hidden' %>
                <% end %>

                <% if (current_user.admin? || current_user.hr?) && request.status == 'pending' %>
                  <div class="relative">
                    <!-- Icon to Toggle Dropdown -->
                    <button class="text-gray-700 py-2 px-4 rounded-md" onclick="toggleDropdownNew(<%= i %>)">
                      <%= image_tag '/drop-down.png', size: '15x15', alt: 'Actions' %>
                    </button>
                    
                    <!-- Dropdown Menu -->
                    <div id="dropdown-<%= i %>" class="hidden absolute right-0 mt-2 w-32 bg-white border rounded-lg shadow-lg">
                      <%= link_to 'Approve', approve_reimbursement_request_path(request), method: :put, class: 'block px-4 py-2 text-green-500 hover:text-green-300' %>
                      <%#= link_to 'Reject', reject_reimbursement_request_path(request), method: :put, class: 'block px-4 py-2 text-red-500 hover:text-red-300' %>
                      <button onclick="openRejectModal(<%= request.id %>)" class="block px-4 py-2 text-red-500 hover:text-red-300 w-full text-left">Reject</button>

                      </div>

                  </div>
                <% end %>
              </div> 
            </td>
          </tr>
        <% end %>
        <% if @reimbursement_requests.any? %>
          <tr>
            <!-- Ensure the entire background is white for the row -->
            <td style="background-color: white; padding-top: 15px;" colspan="100%"> <!-- colSpan ensures the pagination spans the full width -->
              <div class="flex">
                <%= paginate @reimbursement_requests, class: 'flex items-center space-x-6 text-white' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-gray-700 blank_value">No reimbursement request found.</p>
  <% end %>
</div>

<script>
  function toggleDropdownNew(index) {
    const dropdown = document.getElementById(`dropdown-${index}`);
    
    dropdown.classList.toggle('hidden');
  }

  function openRejectModal(requestId) {
    document.getElementById('rejectModal').classList.remove('hidden');
    document.getElementById('rejectRequestId').value = requestId;

    const form = document.getElementById('rejectForm');
    form.action = `/reimbursement_requests/${requestId}/reject_request`;
  }

  function closeRejectModal() {
    document.getElementById('rejectModal').classList.add('hidden');
  }
</script>

<style>
  .ticket_filer {
    margin: auto;
    margin-left: 7%;
    margin-bottom: 15px !important;
  }
  .ticket_filer table {
    width: 25%;
  }
  .ticket_filer table tr td {
    padding: 1px;
  } 
  .my_table {
    width: 85% !important; 
    margin-left: auto;     
    margin-right: auto;    
    display: block;
    height: 500px;
}

  .blank_value{
    width: 75% !important; 
    margin-left: auto;     
    margin-right: auto;    
    display: block;

  }

   .my_table th {
    border: .1px solid black;
    text-align: left;
  }

  .my_table tr:nth-child(even) {
  }

    .container {
  #  height: 600px !important;
    width: 85%;
    margin-right: auto;
    display: block;
    background-color: white;
    padding: 10px;
  }
 
  .new-button {
    margin: auto;
    margin-left: 88%;
    margin-bottom: -25px !important;
  }

    #confirmationModal {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: -70px;
    }
  
    #confirmationModal .bg-white {
      width: 250px;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
  
    #confirmationModal button {
      padding: 8px 16px; 
      font-size: 0.875rem; 
      margin: 4px; 
      cursor: pointer;
  
    }
  
    #confirmationModal button:hover {
      background-color: #ccc;
    }
  
    #confirmationModal.hidden {
      display: none !important;
    }
</style>


<script>
document.addEventListener('DOMContentLoaded', function () {
  const deleteBtns = document.querySelectorAll('.delete-reimbursement_request-btn');
  const modal = document.getElementById('confirmationModal');
  const confirmDeleteBtn = document.getElementById('confirmDelete');
  const cancelDeleteBtn = document.getElementById('cancelDelete');
  let formToSubmit = null;

  deleteBtns.forEach(btn => {
    btn.addEventListener('click', function(event) {
      event.preventDefault();
      const reimbursement_requestId = btn.id.split('-')[2]; 
      formToSubmit = document.getElementById(`delete-form-${reimbursement_requestId}`); 
      modal.classList.remove('hidden');
    });
  });

  cancelDeleteBtn.addEventListener('click', function() {
    modal.classList.add('hidden');
  });

  confirmDeleteBtn.addEventListener('click', function() {
    if (formToSubmit) {
      formToSubmit.submit(); 
    }
  });
});

</script>
