<div class="container mx-auto px-6">
  <div class="bg-white shadow-xl rounded-1xl overflow-hidden">
    <div class="flex items-center justify-between bg-gray-200 px-6 py-4 border-b">
      <h2 class="text-xl font-semibold text-gray-600"><%= page_type == "edit" ? "Update User" : page_type == "new" ? "Create User" : "User Information" %></h2>
      <div class="flex justify-end space-x-4">
        <div>
          <% if page_type == "edit" || page_type == "new" %>
            <%= button_tag type: 'submit',
                class: "inline-flex items-center gap-2 bg-gray-100 hover:bg-gray-200 text-gray-600 px-5 py-3 rounded-md font-semibold shadow-sm transition duration-200" do %>
              <i class="fas fa-user-edit" aria-hidden="true"></i>
              <span><%= page_type == "edit" ? "Update User" : "Create User" %></span>
            <% end %>
          <% end %>
        </div>

        <% if (page_type == "view") && (user == current_user)  %>
          <div>
            <%= link_to edit_user_path(user), data: { turbo: false },
                class: "inline-flex items-center gap-2 bg-gray-100 hover:bg-gray-200 text-gray-600 px-5 py-3 rounded-md font-semibold shadow-sm transition duration-200" do %>
                <i class="fas fa-user-edit" aria-hidden="true"></i>
                <span>Update Profile</span>
            <% end %>
          </div>   
        <% end %>             

        <div>
          <%= link_to users_path, data: { turbo: false },
              class: "inline-flex items-center gap-2 bg-gray-100 hover:bg-gray-200 text-gray-600 px-5 py-3 rounded-md font-semibold shadow-sm transition duration-200" do %>
              <i class="fas fa-arrow-left" aria-hidden="true"></i>
              <span>Back to Users</span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="p-6 space-y-10">
      <%= render 'shared/form_errors', object: @user %>
      <div>
        <h2 class="text-xl font-semibold text-gray-600 mb-4 border-b pb-2">User Contact</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <% if page_type == "new" %>
              <%= form.label :email, "Email <span class='text-red-500'>*</span>".html_safe, class: "text-gray-600 font-semibold uppercase tracking-wide" %>
              <%= form.email_field :email, class: "w-full text-gray-600 px-4 py-2 border rounded-md" %>
            <% elsif page_type == "edit"  %>
              <%= form.label :email, "Email <span class='text-red-500'>*</span>".html_safe, class: "text-gray-600 font-semibold uppercase tracking-wide" %>
              <%= form.email_field :email, disabled: true, class: "w-full text-gray-600 px-4 py-2 border rounded-md" %>
            <% else %>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Email</label>
              <p class="text-gray-600 text-base mt-1"><%= @user.email %></p>
            <% end %>
          </div>
          <div>
            <% if page_type == "edit" || page_type == "new" %>
              <%= form.label :phone_number, class: "text-gray-600 font-semibold uppercase tracking-wide" %>
              <%= form.text_field :phone_number,
                class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm text-gray-700",
                inputmode: "numeric",
                placeholder: "Enter phone number",
                maxlength: "10",
                oninput: "this.value = this.value.replace(/[^0-9]/g, '')"
              %>
            <% else %>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Phone Number</label>
              <p class="text-gray-600 text-base mt-1"><%= @user.phone_number %></p>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Personal Info -->
      <div>
        <h2 class="text-xl font-semibold text-gray-600 mb-4 border-b pb-2">Personal Details</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <% if page_type == "edit" || page_type == "new" %>
              <%= form.label :first_name, "First Name <span class='text-red-500'>*</span>".html_safe, class: "text-gray-600 font-semibold uppercase tracking-wide" %>
              <%= form.text_field :first_name, class: "w-full text-gray-600 px-4 py-2 border rounded-md" %>
            <% else %>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">First Name</label>
              <p class="text-gray-600 text-base mt-1"><%= @user.first_name&.capitalize %></p>
            <% end %>
          </div>
          <div>
            <% if page_type == "edit" || page_type == "new" %>
              <%= form.label :last_name, "Last Name <span class='text-red-500'>*</span>".html_safe, class: "text-gray-600 font-semibold uppercase tracking-wide" %>
              <%= form.text_field :last_name, class: "w-full text-gray-600 px-4 py-2 border rounded-md" %>
            <% else %>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Last Name</label>
              <p class="text-gray-600 text-base mt-1"><%= @user.last_name&.capitalize %></p>
            <% end %>
          </div>
          <% if page_type == "view" %>
            <div>
                <label class="text-gray-600 font-semibold uppercase tracking-wide">Username</label>
                <p class="text-gray-600 text-base mt-1"><%= @user.username&.camelcase %></p>
            </div>
          <% end %>
          <div>
            <label class="text-gray-600 font-semibold uppercase tracking-wide">Gender</label>
            <% if page_type == "edit" || page_type == "new" %>
              <%= form.select :gender, ['Male', 'Female', 'Other'], { include_blank: true },
                  class: "w-full text-gray-600 px-4 py-2 border rounded-md" %>
            <% else %>
              <p class="text-gray-600 text-base mt-1"><%= @user.gender&.capitalize %></p>
            <% end %>
          </div>
          <div>
            <label class="text-gray-600 font-semibold uppercase tracking-wide">Blood Group</label>
            <% if page_type == "edit" || page_type == "new" %>
              <%= form.text_field :blood_group, class: "w-full text-gray-600 px-4 py-2 border rounded-md" %>
            <% else %>
              <p class="text-gray-600 text-base mt-1"><%= @user.blood_group %></p>
            <% end %>
          </div>
          <div>
            <label class="text-gray-600 font-semibold uppercase tracking-wide">Date of Birth</label>
            <% if page_type == "edit" || page_type == "new" %>
              <div class="relative">
                <%= form.date_field :dob, data: { controller: "flatpickr" }, class: "w-full text-gray-600 pl-8 py-2 border rounded-md" %>
                <div class="absolute inset-y-0 left-0 pl-3 text-gray-700 flex items-center pointer-events-none">
                  <i class="fas fa-calendar-alt mr-2"></i>
                </div>
              </div>
            <% else %>
              <p class="text-gray-600 text-base mt-1"><%= @user.dob&.strftime("%B %d, %Y") %></p>
            <% end %>
          </div>
          <div>
            <% if page_type == "edit" || page_type == "new" %>
              <%= form.check_box :is_active, class: "h-4 w-4 text-gray-600 focus:ring-gray-500 border-gray-300 rounded mt-8" %>
              <%= form.label :is_active, "Active Status", class: "font-semibold font-medium text-gray-600 mt-2" %>
            <% else %>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Status</label>
              <p class="text-gray-600 font-semibold mt-1"><%= @user.is_active %></p>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Role and Bio -->
      <div>
        <h2 class="text-xl font-semibold text-gray-600 mb-4 border-b pb-2">Account Information</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <label class="text-gray-600 font-semibold uppercase tracking-wide">Role</label>
            <% if page_type == "edit" || page_type == "new" %>
              <% if current_user.admin? || current_user.hr? %>
                <!-- Dropdown for Admin or HR users -->
                <%= form.select :role,
                    User.roles.keys.sort.map { |r| [r.titleize, r] },
                    { selected: form.object.role },
                    class: 'text-gray-700 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm text-gray-700'
                %>
              <% else %>
                <!-- Show role as static text for non-admin/HR users -->
                <div class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-gray-100 rounded-md shadow-sm text-sm text-gray-700">
                  <%= @user.role.titleize %>
                </div>
              <% end %>
            <% else %>
              <p class="text-gray-600 text-base mt-1"><%= @user.role.titleize %></p>
            <% end %>
          </div>
          <div>
            <label class="text-gray-600 font-semibold uppercase tracking-wide">Address</label>
            <% if page_type == "edit" || page_type == "new" %>
              <%= form.text_area :bio, rows: 3, class: "w-full text-gray-600 px-4 py-2 border rounded-md" %>
            <% else %>
              <p class="text-gray-600 text-base mt-1 whitespace-pre-line"><%= @user.bio.presence&.camelcase %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
