<div class="container mx-auto">
  <h1 class="text-2xl font-semibold text-gray-600 mb-6">User List</h1>

  <div class="flex flex-wrap justify-between items-center gap-4 mb-6">
    <div>
      <%= form_with url: users_path, method: :get, html: { id: 'filter-form' } do %>
        <div class="flex items-center space-x-2", style="margin-left: 20px;">
          <%= select_tag :role,
            options_for_select([['All Roles', '']] + User.roles.keys.map { |role| [role.titleize, role] }, params[:role]),
            class: 'p-2 border border-gray-500 rounded-md text-sm text-gray-700',
            onchange: "document.getElementById('filter-form').requestSubmit();" %>
        </div>
      <% end %>
    </div>      

    <div class="flex-grow max-w-xl">
      <%= form_with url: users_path, method: :get, local: true , html: { data: { controller: "live-search" } } do %>
        <div class="flex items-center space-x-2">
          <div class="relative w-full">

            <%= text_field_tag :search, params[:search], placeholder: "Search by user name or email", class: "w-full pl-10 pr-4 py-2 text-sm text-gray-900 border border-gray-500 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600" , data: { action: "input->live-search#submit" } %>
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
            </div>
          </div>

        </div>
      <% end %>
    </div>

    <div class="border border-gray-500 rounded-md hover:bg-gray-500 hover:text-white", style="margin-right: 20px;">
      <%= link_to new_user_path, class: 'text-gray-700 font-medium px-4 py-2 rounded-md shadow-md flex items-center gap-2' do %>
        <%= image_tag '/plus.png', alt: 'New user Icon', size: '20x20', title: 'Create a new user' %>
        <span>New</span>
      <% end %>
    </div>
  </div>
  
  <%= turbo_frame_tag "users_list" do %>
    <%= render partial: "users_list", locals: { users: @users } %>
    <%= render 'shared/confirmation_modal' %>
  <% end %>
</div>