<%= form_with url: users_path, method: :get, html: { id: 'filter-form' } do %>
  <div class="flex items-center space-x-4 mb-4">
    <label for="role" class="text-sm font-medium text-black">Role</label>
    <%= select_tag :role,
          options_for_select([['All', '']] + User.roles.keys.map { |role| [role.titleize, role] }, params[:role]),
          class: 'p-2 border border-gray-300 rounded-md text-sm font-medium text-white bg-gray-700',
          onchange: "document.getElementById('filter-form').requestSubmit();" %>

    <%= link_to new_user_path, class: 'text-white rounded-md shadow-md p-1', style: 'background-color: #515156;' do %>
      <%= image_tag '/new.png', alt: 'New User Icon', size: '30x30' %>
    <% end %>
  </div>
<% end %>

<%= turbo_frame_tag "users_list" do %>
  <%= render partial: "users_list", locals: { users: @users } %>
  <%= render 'shared/confirmation_modal' %>
<% end %>

