<!-- Confirmation Modal -->
  <div id="confirmationModal" class="hidden fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center z-50">
    <div class="bg-white p-4 rounded-md shadow-lg">
      <h2 class="text-lg font-semibold"> Delete this user?</h2>
      <div class="mt-4 flex justify-between">
        <button id="cancelDelete" class="bg-gray-300 px-4 py-2 rounded-md">Cancel</button>
        <button id="confirmDelete" class="bg-red-500 text-white px-4 py-2 rounded-md">Confirm</button>
      </div>
    </div>
  </div>

<div class="container mx-auto">
  <!-- Button positioned above the table -->
  <div class="new-button mb-4">
    <%= link_to new_user_path, class: 'text-white rounded-md shadow-md', style: 'background-color: #515156;' do %>
      <%#= image_tag '/new.png', alt: 'New User Icon', size: '30x30' %>
    <% end %>
  </div>

  <!-- User Filter Section (if needed) -->
  <div class="user_filer mb-6">
    <%= form_with(url: users_path, method: :get) do %>
      <div>
        <table>
          <tr>
            <td><%= label_tag :role, "Role", class: "text-sm font-medium text-black" %></td>
            <td>
              <%= select_tag :role, options_for_select([['All', '']] + User.roles.keys.map { |role| [role.titleize, role] }, params[:role]), class: 'mt-1 p-2 border border-gray-300 rounded-md text-sm font-medium text-white bg-gray-700' %>
            </td>
            
            <td>
              <%= button_tag type: 'submit' do %>
                <%= image_tag '/filter.png', alt: 'Filter', size: '40x20' %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
  <% if @users.present? %>
  <!-- User Table -->
    <table class="my_table">
      <thead class="bg-gray-700">
        <tr>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 5%;">S.N.</th>
          <th class="px-4 py-2 text-white text-sm" style="width: 15%;">First Name</th>
          <th class="px-4 py-2 text-white text-sm" style="width: 15%;">Last Name</th>
          <th class="px-4 py-2 text-white text-sm" style="width: 15%;">Email</th>
          <th class="px-4 py-2 text-white text-sm" style="width: 10%;">Gender</th>
          <th class="px-4 py-2 text-white text-sm" style="width: 10%;">Role</th>
          <th class="px-4 py-2 text-white text-sm" style="width: 15%;">Is Active</th>
          <th class="px-4 py-2 text-white text-sm" style="width: 20%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, i| %>
          <tr class="<%= cycle('bg-white', 'bg-gray-300') %>">
            <td class="px-4 py-2 text-sm text-gray-900"><%= i + 1 %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= user.first_name&.capitalize %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= user.last_name&.capitalize %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= user.email %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= user.gender&.capitalize %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= user.role&.capitalize %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= user.is_active ? "Active": "Inactive" %></td>

            <td class="px-4 py-2 text-sm">
              <div class="flex space-x-2 items-center">
              
                <%= link_to user_path(user) do %>
                  <%= image_tag '/show1.png', alt: 'Show User', size: '15x15' %>
                <% end %>

                <%= link_to edit_user_path(user) do %>
                  <%= image_tag '/edit1.png', alt: 'Edit User', size: '15x15' %>
                <% end %>

                <%= button_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-user-btn', id: "delete-btn-#{user.id}", form_id: "delete-form-#{user.id}" do %>
                  <%= image_tag '/delete1.png', alt: 'Delete user', size: '15x15' %>
                <% end %>

                <%= form_with(model: user, method: :delete, local: true, id: "delete-form-#{user.id}", class: 'hidden') do |form| %>
                  <%= form.submit 'Delete', class: 'hidden' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>

        <!-- Pagination -->
        <% if @users.any? %>
          <tr>
            <td style="background-color: white; padding-top: 15px;" colspan="100%"> <!-- colSpan ensures the pagination spans the full width -->
              <div class="flex">
                <%= paginate @users, class: 'flex items-center space-x-6 text-white' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <p class="text-gray-700 blank_value">No user found.</p>
  <% end %>
</div>

<style>
  .container {
    width: 85%;
    margin-right: auto;
    display: block;
    background-color: white;
    padding: 10px;

  }
  
  .blank_value{
    width: 75% !important; 
    margin-left: auto;     
    margin-right: auto;    
    display: block;

  }
  .user_filer {
    margin: auto;
    margin-left: 7%;
    margin-bottom: 15px !important;
  }

  .user_filer table {
    width: 25%;
  }

  .user_filer table tr td {
    padding: 1px;
  }

  .my_table {
    width: 85% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 500px;

  }

  .my_table th {
    border: .1px solid black;
    text-align: left;
  }

  .container {
    width: 90%;
    margin-right: auto;
    display: block;
  }

  .new-button {
    margin: auto;
    margin-left: 88%;
    margin-bottom: -25px !important;
  }

  #confirmationModal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -70px;
  }

  #confirmationModal .bg-white {
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  #confirmationModal button {
    padding: 8px 16px; 
    font-size: 0.875rem; 
    margin: 4px; 
    cursor: pointer;

  }

  #confirmationModal button:hover {
    background-color: #ccc;
  }

  #confirmationModal.hidden {
    display: none !important;
  }
</style>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const deleteBtns = document.querySelectorAll('.delete-user-btn');
    const modal = document.getElementById('confirmationModal');
    const confirmDeleteBtn = document.getElementById('confirmDelete');
    const cancelDeleteBtn = document.getElementById('cancelDelete');
    let formToSubmit = null;

    deleteBtns.forEach(btn => {
      btn.addEventListener('click', function(event) {
        event.preventDefault();
        const userId = btn.id.split('-')[2]; 
        formToSubmit = document.getElementById(`delete-form-${userId}`); 
        modal.classList.remove('hidden');
      });
    });

    cancelDeleteBtn.addEventListener('click', function() {
      modal.classList.add('hidden');
    });

    confirmDeleteBtn.addEventListener('click', function() {
      if (formToSubmit) {
        formToSubmit.submit(); 
      }
    });
  });

</script>