<div class="text-xl text-gray-700", style="margin-bottom:20px;">User List</div>

  <%= form_with url: users_path, method: :get, html: { id: 'filter-form' } do %>
    <div class="flex items-center space-x-4 mb-4", style="margin-left: 20px;">
      <div>

        <%= select_tag :role,
            options_for_select([['All Roles', '']] + User.roles.keys.map { |role| [role.titleize, role] }, params[:role]),
            class: 'p-2 border border-gray-500 rounded-md text-sm font-medium text-gray-700',
            onchange: "document.getElementById('filter-form').requestSubmit();" %>
      </div>      

      <!-- Search Form -->
      <div class="flex-grow max-w-xl">
        <%= form_with url: tickets_path, method: :get, local: true do %>
          <div class="flex items-center space-x-2">
            <div class="relative w-full">

              <%= text_field_tag :search, params[:search], placeholder: "Search by user name or email", class: "w-full pl-10 pr-4 py-2 text-sm text-gray-900 border border-gray-500 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600" %>
              <!-- Optional icon inside input -->
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
              </div>
            </div>

            <!-- Search Button -->
            <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md text-sm font-medium shadow-sm">
              Search
            </button>
          </div>
        <% end %>
      </div>

      <div>

        <%= link_to new_user_path, style:"margin-right: 20px;", class: 'flex items-center gap-2 px-4 py-2 text-gray-700 hover:bg-gray-800 rounded-md shadow-md border border-gray-500' do %>
          <%= image_tag '/plus.png', alt: 'New Expense Icon', size: '20x20', title: 'Create a new expense' %>
          <span>New</span>
        <% end %>
      </div>
    <% end %>
  </div>

<%= turbo_frame_tag "users_list" do %>
  <% if @users.present? %>
    <%= render partial: "users_list", locals: { users: @users } %>
  <% else %>
    <p class="text-gray-700 blank_value">No user found.</p>
  <% end %>
  <%= render 'shared/confirmation_modal' %>
<% end %>

