<div class="bg-gray-800 p-4 rounded-lg form-container my_form">

<%= form_for(@user, class: 'space-y-6') do |f| %>
  <% if @user.errors.any? %>
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-6">
      <h2 class="font-semibold"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul class="list-disc pl-5">
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :email, class: 'block text-sm font-medium text-white' %>
    <%= f.email_field :email, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-white focus:outline-none focus:ring-black focus:border-black sm:text-sm' %>
  </div>

  <div>
    <%= f.label :first_name, class: 'block text-sm font-medium text-white' %>
    <%= f.text_field :first_name, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-white focus:outline-none focus:ring-black focus:border-black sm:text-sm' %>
  </div>

  <div>
    <%= f.label :last_name, class: 'block text-sm font-medium text-white' %>
    <%= f.text_field :last_name, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-white focus:outline-none focus:ring-black focus:border-black sm:text-sm' %>
  </div>

  <div>
    <%= f.label :username, class: 'block text-sm font-medium text-white' %>
    <%= f.text_field :username, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-white focus:outline-none focus:ring-black focus:border-black sm:text-sm' %>
  </div>

  <div>
    <%= f.label :role, class: 'block text-sm font-medium text-white' %>
    <%= f.select :role, User.roles.keys.map { |role| [role.titleize, role] }, selected: @user.role, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-white bg-gray-700 focus:outline-none focus:ring-black focus:border-black sm:text-sm' %>
  </div>

  <div>
    <%= f.label :phone_number, class: 'block text-sm font-medium text-white' %>
    <%= f.text_field :phone_number, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-white focus:outline-none focus:ring-black focus:border-black sm:text-sm' %>
  </div>

  <div>
    <%= f.label :dob, class: 'block text-sm font-medium text-white' %>
    <%= f.date_select :dob, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-white focus:outline-none focus:ring-black focus:border-black sm:text-sm' %>
  </div>

  <div>
    <%= f.label :gender, class: 'block text-sm font-medium text-white' %>
    <%= f.select :gender, [['Male', 'male'], ['Female', 'female'], ['Other', 'other']], selected: @user.gender, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-white bg-gray-700 focus:outline-none focus:ring-black focus:border-black sm:text-sm' %>
  </div>

  <div>
    <%= f.label :is_active, class: 'block text-sm font-medium text-white' %>
    <%= f.file_field :is_active, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-white focus:outline-none focus:ring-black focus:border-black sm:text-sm' %>
  </div>

  <div>
    <%= f.label :bio, class: 'block text-sm font-medium text-white' %>
    <%= f.text_area :bio, class: 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-white focus:outline-none focus:ring-black focus:border-black sm:text-sm' %>
  </div>

  <div>
    <%= f.submit "Save Changes", class: "w-full py-2 px-4 border border-transparent rounded-md shadow-lg text-sm font-medium text-white bg-black hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 transition duration-300 ease-in-out transform hover:scale-105" %>
  </div>

<% end %>
</div>

<style>
  .my_form {
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1.1);
  }
</style>
