<div class="container mx-auto">
  <div class="new-button">
   
    <%= link_to new_ticket_path, class: 'text-white shadow-md', style: 'background-color: #515156;' do %>
      <%= image_tag '/new.png', alt: 'New Ticket Icon', size: '20x20' %>
    <% end %>
  </div>
<div class="ticket_filer">
  <%= form_with(url: tickets_path, method: :get) do %>
    <div>
      <table>
       <tr><td><%= label_tag :status, "Status", class: "text-sm font-medium text-white" %></td>
        <td><%= select_tag :status, options_for_select([['All', ''], ['Open', 'open'], ['In Progress', 'in_progress'], ['Resolved', 'resolved'], ['Pending', 'pending']], params[:status]), class: 'mt-1 p-2 border border-gray-300 rounded-md text-sm font-medium text-white' %></td>        
        <td>
          <%= button_tag type: 'submit' do %>
            <%= image_tag '/filter.png', alt: 'Filter', size: '40x20' %>
          <% end %>
        </td>
      </tr>
        </table>
    </div>
  <% end %>
</div>  

<table class="my_table">
<thead>
    <tr class="bg-gray-100">
      <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 5%;">S.N.</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" , style="width: 15%;">User</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 10%;">Title</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 10%;">Status</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 10%;">Priority</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 15%;">Reported By</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 15%;">Assigned To</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 25%;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each_with_index do |ticket, i| %>
      <tr class="<%= cycle('bg-white', 'bg-gray-300') %>">

        <td class="px-4 py-2 text-sm text-gray-900"><%= i + 1 %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.user.email %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.title %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.status %>
        </td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.priority %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.user.email %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.assigned_user.email if ticket.assigned_user%></td>
        <td class="px-4 py-2 text-sm">
          <div class="flex space-x-2 items-center">
            <!-- Show Link with Image -->
            <%= link_to ticket_path(ticket) do %>
              <%= image_tag '/show.png', alt: 'Show ticket', size: '15x15' %>
            <% end %>

            <!-- Edit Link with Image -->
            <%= link_to edit_ticket_path(ticket) do %>
              <%= image_tag '/edit.png', alt: 'Edit ticket', size: '15x15' %>
            <% end %>

            <!-- Delete Link with Image -->
            <%= button_to ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= image_tag '/delete.png', alt: 'Delete ticket', size: '15x15' %>
            <% end %>

            <% if (current_user.admin? || current_user.hr? || current_user.manager? || current_user.lead?) && ticket.status != "resolved" && (ticket.assigned_user == current_user) %>
              

              <%= link_to resolve_ticket_path(ticket), method: :post, class: 'relative text-white' do %>
                <%= image_tag '/resolved.png', alt: 'Resolved Icon', size: '20x20', class: 'w-6 h-6' %>
              <% end %>
            <% end %>  
          </div>
        </td>
      </tr>
    <% end %>
    <tr><td><%= paginate @tickets , class: 'flex items-center space-x-2' %></td> </tr>
  </tbody>
</table>
</div>

<style>
  .ticket_filer {
    margin: auto;
    margin-left: 7%;
    margin-bottom: 15px !important;
  }
  .ticket_filer table {
    width: 25%;
  }
  .ticket_filer table tr td {
    padding: 1px;
  } 
  .my_table {
    width: 85% !important; 
    margin-left: auto;     
    margin-right: auto;    
    display: block;
}

   .my_table th {
    border: .1px solid black;
    text-align: left;
  }

  .my_table tr:nth-child(even) {
  }

  .container {
    width: 85%;
    margin-right: auto;
    display: block;
  }
  
  .new-button {
    margin: auto;
    margin-left: 88%;
    margin-bottom: -25px !important;
  }
</style>
