<!-- Confirmation Modal -->
<div id="confirmationModal" class="hidden fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center z-50">
  <div class="bg-white p-4 rounded-md shadow-lg">
    <h2 class="text-lg font-semibold"> Delete this ticket?</h2>
    <div class="mt-4 flex justify-between">
      <button id="cancelDelete" class="bg-gray-300 px-4 py-2 rounded-md">Cancel</button>
      <button id="confirmDelete" class="bg-red-500 text-white px-4 py-2 rounded-md">Confirm</button>
    </div>
  </div>
</div>
<div class="container mx-auto">
  <h1 class="text-2xl font-semibold text-gray-600 mb-6">Ticket List</h1>
  <div class="flex flex-wrap items-center justify-between gap-y-4 gap-x-6 mb-6">

  <!-- Filter Dropdown -->
  <div class="flex items-center" style="margin-left: 20px;">
    <%= form_with url: tickets_path, method: :get, html: { id: 'ticket-filter-form' } do %>
      <%= select_tag :status,
          options_for_select([['All Status', '']] + Ticket.statuses.keys.map { |status| [status.titleize, status] }, params[:status]),
          class: 'p-2 border border-gray-300 rounded-md text-sm text-gray-700',
          onchange: "document.getElementById('ticket-filter-form').requestSubmit();" %>
    <% end %>
  </div>

  <!-- Search Input -->
  <div class="flex-grow max-w-3xl">
    <%= form_with url: tickets_path, method: :get, local: true, html: { data: { controller: "live-search" } } do %>
      <div class="relative w-full" >
        <%= text_field_tag :search, params[:search],
            placeholder: "Search by user name, status, priority, or title",
            class: "w-full pl-10 pr-4 py-2 text-sm text-gray-900 border border-gray-300 rounded-md bg-gray-50 focus:ring-blue-500 focus:border-blue-500",
            data: { action: "input->live-search#submit" } %>
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" fill="none" viewBox="0 0 20 20" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
      </div>
    <% end %>
  </div>

  <!-- New Ticket Button -->
  <div>
    <%= link_to new_ticket_path, class: 'flex items-center gap-2 px-4 py-2 text-sm font-medium text-gray-700 border border-gray-400 rounded-md hover:bg-gray-500 hover:text-white shadow-sm', style: "margin-right: 20px;" do %>
      <%= image_tag '/plus.png', alt: 'New Ticket Icon', size: '20x20', title: 'Create a new ticket' %>
      <span>New</span>
    <% end %>
  </div>

</div>

  <div class="mb-4">
    <%= form_with url: tickets_path, method: :get, local: true do %>
      <div class="flex justify-center">
        <div class="flex items-center space-x-6">
          <div class="flex items-center space-x-2">
            <%= label_tag :from_date, "From", class: "font-semibold text-gray-600" %>
            <%= date_field_tag :from_date, params[:from_date], data: { controller: "flatpickr" }, class: "border border-gray-500 rounded-md p-1 text-sm text-gray-700" %>
          </div>

          <div class="flex items-center space-x-2">
            <%= label_tag :to_date, "To", class: "font-semibold text-gray-600" %>
            <%= date_field_tag :to_date, params[:to_date], data: { controller: "flatpickr" }, class: "border border-gray-500 rounded-md p-1 text-sm text-gray-700" %>
          </div>

          <button type="submit" class="border border-gray-500 rounded-md hover:bg-gray-500 text-gray-700 font-medium px-3 py-1 shadow-md flex items-center gap-2" title="Filter by Date">
            <i class="fas fa-calendar-alt"></i> Filter
          </button>

          <!-- Reset Button -->
          <%= link_to tickets_path, class: "border border-gray-500 rounded-md hover:bg-gray-500 text-gray-700 font-medium px-3 py-1 shadow-md flex items-center gap-2", title: "Reset Filters" do %>
            <i class="fas fa-redo-alt"></i> Reset
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <!-- Card Section Starts Here -->
    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
      <!-- Card -->
      <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">

        <div class="overflow-x-auto">
          <table class="min-w-full table-auto text-gray-700 text-sm">
            <thead class="bg-gray-700 text-white">
              <tr>
                <th class="px-4 py-2 text-left w-[5%]">S.N.</th>
                <th class="px-4 py-2 text-left w-[15%]"><%= sortable("user", "User") %></th>
                <th class="px-4 py-2 text-left w-[15%]"><%= sortable("title", "Title") %></th>
                <th class="px-4 py-2 text-left w-[10%]"><%= sortable("status", "Status") %></th>
                <th class="px-4 py-2 text-left w-[10%]"><%= sortable("priority", "Priority") %></th>
                <th class="px-4 py-2 text-left w-[15%]"><%= sortable("assigned_to", "Assigned To")%></th>
                <th class="px-4 py-2 text-left w-[15%]">Approved?</th>
                <th class="px-4 py-2 text-left w-[15%]">Created At</th>
                <th class="px-4 py-2 text-left w-[15%]">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% if @tickets.present? %>
                <% @tickets.each_with_index do |ticket, i| %>
                  <tr class="<%= cycle('bg-white', 'bg-gray-100') %>">
                    <td class="px-4 py-2"><%= i + 1 %></td>
                    <td class="px-4 py-2"><%= ticket.user&.full_name&.camelcase %></td>
                    <td class="px-4 py-2"><%= ticket.title&.camelcase %></td>
                    <% if ticket.status == "in_progress" %>
                      <td class="px-4 py-2"><%= "in-progress" %></td>
                    <% else %>
                      <td class="px-4 py-2"><%= ticket.status&.camelcase %></span></td>
                    <% end %>  
                    <td class="px-4 py-2"><%= ticket.priority&.camelcase %></td>
                    <td class="px-4 py-2"><%= ticket.assigned_user&.full_name&.camelcase %></td>
                    <td class="px-4 py-2">
                      <% if ticket.approved.nil? %>
                        <span class="bg-yellow-200 text-yellow-800 px-2 py-1 rounded text-sm font-medium">Pending</span>
                      <% elsif ticket.approved? %>
                        <span class="bg-green-200 text-green-800 px-2 py-1 rounded text-sm font-medium">Approved</span>
                      <% else %>
                        <span class="bg-red-200 text-red-800 px-2 py-1 rounded text-sm font-medium">Rejected</span>
                      <% end %>
                    </td>
                    <td class="px-4 py-2"><%= ticket.created_at&.strftime('%B %d, %Y') %></td>
                    <td class="px-4 py-2">
                      <div class="flex items-center space-x-2">
                        <%= link_to ticket_path(ticket), data: { turbo: false }, class: "inline-flex items-center justify-center border border-green-300 bg-white text-green-700 rounded-md p-2 hover:bg-green-300 hover:border-green-500 transition duration-200 mx-1" do %>
                          <i class="fas fa-eye"></i>
                        <% end %>

                        <%= link_to edit_ticket_path(ticket), data: { turbo: false }, class: "inline-flex items-center justify-center border border-blue-300 bg-white text-blue-700 rounded-md p-2 hover:bg-blue-300 hover:border-blue-500 transition duration-200 mx-1" do %>
                          <i class="fas fa-edit"></i>
                        <% end %>
                        <% if (ticket.status == "accidental") %>
                          <div data-controller="delete-modal">
                            <%= render 'shared/delete_modal', model: ticket %>
                          </div>
                        <% end %>

                        <% if ((current_user == ticket.user.team_lead)) && (!ticket.approved? || ticket.approved.nil?) %>
                          <%= link_to approve_ticket_path(ticket), method: :patch, data: { turbo_method: :patch }, class: "text-green-600 hover:text-green-800", title: "Approve Ticket" do %>
                            <i class="fas fa-check-circle fa-lg"></i>
                          <% end %>
                        <% end %>

                        <% if current_user == ticket.user.team_lead && ticket.approved.nil? %>
                          <%= link_to reject_ticket_path(ticket), method: :patch, data: { turbo_method: :patch }, class: "text-red-600 hover:text-red-800", title: "Reject Ticket" do %>
                            <i class="fas fa-times-circle fa-lg"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="100%" class="text-center py-4 text-gray-500">No tickets found.</td>
                </tr>
              <% end %>  

              <% if @tickets.any? %>
                <tr>
                  <td style="background-color: white; padding-top: 15px;" colspan="100%"> 
                    <div class="flex bg-white px-4 py-2">
                      <%= paginate @tickets, class: 'flex items-center space-x-6 text-white' %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /Card -->
    </div>
  </div>
</div>