<div class="ticket_filer">
  <%= form_with(url: tickets_path, method: :get) do %>
    <div>
      <table class="min-w-full table-auto border-collapse">
       <tr><td><%= label_tag :status, "Status", class: "text-sm font-medium text-gray-700" %></td>
        <td><%= select_tag :status, options_for_select([['All', ''], ['Open', 'open'], ['In Progress', 'in_progress'], ['Resolved', 'resolved'], ['Pending', 'pending']], params[:status]), class: 'mt-1 p-2 border border-gray-300 rounded-md' %></td>
        <td><%= submit_tag "Filter", class: "bg-blue-500 text-white px-4 py-2 rounded-md cursor-pointer hover:bg-blue-700" %></td>
      </tr>
        </table>
    </div>
  <% end %>
</div>  

<table class="min-w-full table-auto border-collapse ticket_table">
  <thead>
    <tr class="bg-gray-100">
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">S.N.</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">User</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Title</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Status</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Priority</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Reported By</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Assigned To</th>
      <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Actions <%= link_to 'New Ticket', new_ticket_path, class: 'text-blue-500 hover:text-blue-700' %></th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each_with_index do |ticket, i| %>
      <tr class="<%= cycle('bg-white', 'bg-gray-50') %>">
        <td class="px-4 py-2 text-sm text-gray-900"><%= i + 1 %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.user.email %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.title %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.status %>
          <% if (current_user.admin? || current_user.hr? || current_user.manager? || current_user.lead?) && ticket.status != "resolved" %>
            <%= link_to 'Resolve', resolve_ticket_path(ticket), class: 'text-green-500 hover:text-green-700'%>
          <% end %>  
        </td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.priority %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.user.email %></td>
        <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.assigned_user.email if ticket.assigned_user%></td>
        <td class="px-4 py-2 text-sm">
          <div class="flex space-x-2 items-center">
            <!-- Show Link with Image -->
            <%= link_to ticket_path(ticket) do %>
              <%= image_tag '/show.png', alt: 'Show ticket', size: '15x15' %>
            <% end %>

            <!-- Edit Link with Image -->
            <%= link_to edit_ticket_path(ticket) do %>
              <%= image_tag '/edit.png', alt: 'Edit ticket', size: '15x15' %>
            <% end %>

            <!-- Delete Link with Image -->
            <%= button_to ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= image_tag '/delete.png', alt: 'Delete ticket', size: '15x15' %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    <tr><td><%= paginate @tickets , class: 'flex items-center space-x-2' %></td> </tr>
  </tbody>
</table>

<style>
  .ticket_filer {
  margin-top: -20px; /* Added some margin to give space between filter and table */
}

.ticket_table {
  margin-top: 100px; /* Added some margin to give space between filter and table */
  margin-left: -200px; /* Added some margin to give space between filter and table */
}
</style>