<!-- Confirmation Modal -->
  <div id="confirmationModal" class="hidden fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center z-50">
    <div class="bg-white p-4 rounded-md shadow-lg">
      <h2 class="text-lg font-semibold"> Delete this ticket?</h2>
      <div class="mt-4 flex justify-between">
        <button id="cancelDelete" class="bg-gray-300 px-4 py-2 rounded-md">Cancel</button>
        <button id="confirmDelete" class="bg-red-500 text-white px-4 py-2 rounded-md">Confirm</button>
      </div>
    </div>
  </div>
<div class="container mx-auto">
  
  <div class="new-button">
    <%= link_to new_ticket_path, class: 'text-white shadow-md', style: 'background-color: #515156;' do %>
      <div class="flex items-center">
        <%= image_tag '/plus.png', alt: 'New Ticket Icon', size: '20x20', title: 'create a new ticket' %>
        <span class="ml-2 text-gray-700">New</span>  <!-- Added margin for spacing -->
      </div>
    <% end %>
  </div>
    
  <%= form_with url: tickets_path, method: :get, class: "max-w-3xl mx-auto", local: true do %>
    <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    
    <div class="flex items-center space-x-2">
      <!-- Relative container for input + icon -->
      <div class="relative flex-grow">
        <!-- Search icon -->
        
        <!-- Search input -->
        <%= text_field_tag :search, params[:search], placeholder: "Search by user name, status, priority, or title", id: "search", style: "width: 500px;", class: "w-full pl-10 pr-4 p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
  
      <!-- Search button on the right -->
      <%#= submit_tag "Search", class: "bg-gray-700 hover:bg-gray-800 text-white font-medium rounded-lg text-sm px-4 py-2 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-gray-700 dark:hover:bg-gray-800 dark:focus:ring-blue-800" %>
       <button type="submit" class="flex items-center gap-2 bg-gray-700 hover:bg-gray-800 text-white font-medium rounded-lg text-sm px-4 py-2 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-gray-700 dark:hover:bg-gray-800 dark:focus:ring-blue-800">
        <svg class="w-4 h-4 text-white" fill="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        Search
      </button>
      </div>
  <% end %>
 
  <div class="ticket_filer">
    <%= form_with(url: tickets_path, method: :get) do %>
      
      <div>
        <table>
        <tr><td><%= label_tag :status, "Status", class: "text-sm font-medium text-black" %></td>
        <td><%= select_tag :status, options_for_select([['All', '']] + Ticket.statuses.keys.map { |status| [status.titleize, status] }, params[:status]), class: 'mt-1 p-2 border border-gray-300 rounded-md text-sm font-medium text-white bg-gray-700' %></td>        
        <td>
            <%= button_tag type: 'submit' do %>
              <%= image_tag '/filter.png', alt: 'Filter', size: '40x20' %>
            <% end %>
          </td>
        </tr>
          </table>
      </div>
    <% end %>
  </div>  
<% if @tickets.present? %>
  <table class="my_table">
  <thead>
      <tr class="bg-gray-100">
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 5%;">S.N.</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" , style="width: 15%;">User</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 25%;">Title</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 10%;">Status</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 10%;">Priority</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 15%;">Assigned To</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700", style="width: 20%;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each_with_index do |ticket, i| %>
        <tr class="<%= cycle('bg-white', 'bg-gray-300') %>">

          <td class="px-4 py-2 text-sm text-gray-900"><%= i + 1 %></td>
          <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.user&.full_name %></td>
          <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.title %></td>
          <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.status %>
          </td>
          <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.priority %></td>
          <td class="px-4 py-2 text-sm text-gray-900"><%= ticket.assigned_user.full_name if ticket.assigned_user%></td>
          <td class="px-4 py-2 text-sm">
            <div class="flex space-x-2 items-center">
              <!-- Show Link with Image -->
              <%= link_to ticket_path(ticket) do %>
                <%= image_tag '/show1.png', alt: 'Show ticket', size: '15x15' %>
              <% end %>

              <!-- Edit Link with Image -->
              <%= link_to edit_ticket_path(ticket) do %>
                <%= image_tag '/edit1.png', alt: 'Edit ticket', size: '15x15' %>
              <% end %>

              <%= button_to ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-ticket-btn', id: "delete-btn-#{ticket.id}", form_id: "delete-form-#{ticket.id}" do %>
                <%= image_tag '/delete1.png', alt: 'Delete ticket', size: '15x15' %>
              <% end %>

              <%= form_with(model: ticket, method: :delete, local: true, id: "delete-form-#{ticket.id}", class: 'hidden') do |form| %>
                <%= form.submit 'Delete', class: 'hidden' %>
              <% end %>

              <% if (current_user.admin? || current_user.hr? || current_user.manager? || current_user.lead?) && ticket.status != "resolved" && (ticket.assigned_user == current_user) %>
                
                <%= link_to resolve_ticket_path(ticket), method: :post, class: 'relative text-white' do %>
                  <%= image_tag '/resolved.png', alt: 'Resolved Icon', size: '15x15' %>
                <% end %>
              <% end %>  
            </div>
          </td>
        </tr>
      <% end %>
      <% if @tickets.any? %>
        <tr>
          <!-- Ensure the entire background is white for the row -->
          <td style="background-color: white; padding-top: 15px;" colspan="100%"> <!-- colSpan ensures the pagination spans the full width -->
            <div class="flex"> <!-- Center the pagination -->
              <%= paginate @tickets, class: 'flex items-center space-x-6 text-white' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>  
  </table>
<% else %>
    <p class="text-gray-700 blank_value">No ticket found.</p>
  <% end %>
</div>

<style>
.search_img{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .search_img svg {
    width: 20px;
    height: 20px;
    color: #999; /* Change this to your desired color */
  }

  .search_img input {
    padding-left: 30px; /* Adjust this value to create space for the icon */
  }
}

h2.text-lg.font-semibold {
    padding-left: 30px;
}
  .padding-top-10 {
    padding-top: 10px !important;
  }

  .blank_value{
    width: 75% !important; 
    margin-left: auto;     
    margin-right: auto;    
    display: block;

  }

  .ticket_filer {
    margin: auto;
    margin-left: 7%;
    margin-bottom: 15px !important;
  }
  .ticket_filer table {
    width: 25%;
  }
  .ticket_filer table tr td {
    padding: 1px;
  } 
  .my_table {
    width: 85% !important; 
    margin-left: auto;     
    margin-right: auto;    
    display: block;
    height: 500px;

  }

   .my_table th {
    border: .1px solid black;
    text-align: left;
  }

  .my_table tr:nth-child(even) {
  }

  .container {
    width: 85%;
    margin-right: auto;
    display: block;
    background-color: white;
    padding: 10px;
  }
  
  .new-button {
    margin: auto;
    margin-left: 88%;
    margin-bottom: -25px !important;
  }
 
  #confirmationModal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -70px;
  }

  #confirmationModal .bg-white {
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  #confirmationModal button {
    padding: 8px 16px; 
    font-size: 0.875rem; 
    margin: 4px; 
    cursor: pointer;

  }

  #confirmationModal button:hover {
    background-color: #ccc;
  }

  #confirmationModal.hidden {
    display: none !important;
  }
</style>


<script>
document.addEventListener('DOMContentLoaded', function () {
  const deleteBtns = document.querySelectorAll('.delete-ticket-btn');
  const modal = document.getElementById('confirmationModal');
  const confirmDeleteBtn = document.getElementById('confirmDelete');
  const cancelDeleteBtn = document.getElementById('cancelDelete');
  let formToSubmit = null;

  deleteBtns.forEach(btn => {
    btn.addEventListener('click', function(event) {
      event.preventDefault();
      const ticketId = btn.id.split('-')[2]; 
      formToSubmit = document.getElementById(`delete-form-${ticketId}`); 
      modal.classList.remove('hidden');
    });
  });

  cancelDeleteBtn.addEventListener('click', function() {
    modal.classList.add('hidden');
  });

  confirmDeleteBtn.addEventListener('click', function() {
    if (formToSubmit) {
      formToSubmit.submit(); 
    }
  });
});

</script>