<div class="container">
  <div class="text-center mb-8">
    <h2 class="text-3xl font-semibold text-gray-800">Create a New Ticket</h2>
  </div>

  <div class="bg-white p-4 rounded-lg form-container my_form">
    <%#= render 'form', ticket: @ticket %>
  <%= form_with model: @ticket, local: true, class: "space-y-4" do |form| %>
    <% if @ticket.errors.any? %>
      <div class="bg-red-100 text-red-700 p-4 rounded mb-4">
        <ul class="list-disc pl-5">
          <% @ticket.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title, class: "block text-sm font-medium text-black" do %>
        Title <span class="text-red-500">*</span> 
      <% end %>  
      <%= form.text_field :title, required: true, class: "text-gray-700 mt-1 block w-full px-3 py-2 border border-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-black focus:border-black sm:text-sm" %>
    </div>

    <div>
      <%= form.label :description, class: "block text-sm font-medium text-black" %>
      <%= form.text_area :description, rows: 4, class: "text-gray-700 mt-1 block w-full px-3 py-2 border border-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-black focus:border-black sm:text-sm" %>
    </div>

    <div>
      <%= form.label :priority, class: "block text-sm font-medium text-black" do %>
        Priority <span class="text-red-500">*</span> 
      <% end %>  
      <%= form.select :priority, Ticket.priorities.keys.map { |priority| [priority.capitalize, priority] }, { prompt: 'Select Priority' }, required: true, class: 'text-gray-700 bg-gray-300 mt-1 block w-full px-3 py-2 border border-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-black focus:border-black sm:text-sm' %>
    </div>

    <div>
  <%= form.submit "Create Ticket", class: "w-full py-2 px-4 border border-transparent rounded-md shadow-lg text-sm font-medium text-gray-300 bg-black hover:bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 transition duration-300 ease-in-out transform hover:scale-105" %>
    </div>
  <% end %>
  </div>
</div>  

<style>
  .my_form {
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 2);
  }

  .container {
    padding: 4rem 0;
    width: 80%;
    margin: 0 auto;
    display: block;
    background: white;
  }

</style>