<div class="space-y-4">
  <p><span class="font-semibold">Title:</span> <%= @ticket.title %></p>
  <p><span class="font-semibold">Status:</span> <%= @ticket.status %></p>
  <p><span class="font-semibold">Priority:</span> <%= @ticket.priority %></p>
  <p><span class="font-semibold">Description:</span> <%= @ticket.description %></p>
  <p><span class="font-semibold">Reported By:</span> <%= @ticket.user.email %></p>
    <p><span class="font-semibold">Assigned To:</span> <%= @ticket.assigned_user.email if @ticket.assigned_user %> 
      <% if (current_user.admin? || current_user.hr?) %>
        <% @hr_or_admin_users = User.where(role: ['hr', 'admin']).where.not(id: @ticket.assigned_user_id)%>

        <%= form_with(model: @ticket, url: assign_ticket_path(@ticket), method: :patch, local: true) do |form| %>
          <%= form.select :assigned_user_id, options_from_collection_for_select(@hr_or_admin_users, :id, :email), include_blank: 'Select User', class: 'form-select text-sm' %>
          <%= form.submit 'Assign', class: 'bg-blue-500 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-md' %>
        <% end %>
      <% end %>  
    </p>
  
  <p><span class="font-semibold">Created At:</span> <%= @ticket.created_at %></p>
  <p><span class="font-semibold">Updated At:</span> <%= @ticket.updated_at %></p>
  </div>

  <h2>Audit History</h2>
  <ul>
    <% @ticket.audits.each do |audit| %>
      <li>
        <strong><%= audit.action.capitalize %></strong> by <%= audit.user.email %> on <%= audit.created_at %>
        <ul>
          <% audit.audited_changes.each do |field, change| %>
            <% if change.is_a?(Array) && change.length == 2 %>
              <% if field == "status" %>
                <li><%= field.capitalize %>: <%= Ticket.statuses.key(change[0]) %> → <%= Ticket.statuses.key(change[1]) %></li>
              <% else %>
                <li><%= field.capitalize %>: <%= change[0] %> → <%= change[1] %></li>
              <% end %>
            <% end %>  
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

