<div class="container mx-auto px-4">
  <h1 class="text-2xl font-semibold text-gray-600 mb-6">Asset List</h1>

  <div class="flex flex-wrap md:flex-nowrap justify-between items-center gap-4 mb-6">
    <% if current_user.admin? || current_user.hr? %>

      <!-- Status Filter -->
      <div>
        <%= form_with url: assets_path, method: :get, html: { id: 'filter_assets-form' } do %>
          <div class="flex items-center space-x-2">
            <%= select_tag :status,
              options_for_select(
                [['All Status', '']] + Asset.statuses.keys.map { |s| [s.titleize, s] },
                params[:status]
              ),
              class: 'p-2 border border-gray-500 rounded-md text-sm text-gray-700',
              onchange: "document.getElementById('filter_assets-form').requestSubmit();" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- Search Box -->
    <div class="flex-grow max-w-xl">
      <%= form_with url: assets_path, method: :get, local: true, html: { data: { controller: "live-search" } } do %>
        <% if current_user.admin? || current_user.hr? %>
          <div class="flex items-center space-x-2">
            <div class="relative w-full">
              <%= text_field_tag :search, params[:search], placeholder: "Search by name, category, or assign to", class: "w-full pl-10 pr-4 py-2 text-sm text-gray-900 border border-gray-500 rounded-lg bg-gray-50" , data: { action: "input->live-search#submit" } %>
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
              </div>
            </div>
          </div>
        <% else %>
          <div class="flex items-center space-x-2">
            <div class="relative w-full">
              <%= text_field_tag :search, params[:search], placeholder: "Search by name, category", class: "w-full pl-10 pr-4 py-2 text-sm text-gray-900 border border-gray-500 rounded-lg bg-gray-50" , data: { action: "input->live-search#submit" } %>
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <% if current_user.admin? || current_user.hr? %>
      <div class="border border-gray-500 rounded-md hover:bg-gray-500 hover:text-white", style="margin-right: 20px;">
        <%= link_to new_asset_path, class: 'text-gray-700 font-medium px-4 py-2 rounded-md shadow-md flex items-center gap-2' do %>
          <%= image_tag '/plus.png', alt: 'New asset Icon', size: '20x20', title: 'Create a new asset' %>
          <span>New</span>
        <% end %>
      </div>
    <% end %>  
  </div>

  <!-- Asset Table -->
  <div class="rounded overflow-x-auto bg-white shadow">
    <table class="min-w-full table-auto text-sm text-left text-gray-700">
      <thead class="bg-gray-700 text-white">
        <tr>
          <th class="px-4 py-3">S.N.</th>
          <th class="px-4 py-3"><%= sortable("name", "Name") %></th>
          <th class="px-4 py-3"><%= sortable("category", "Category") %></th>
          <th class="px-4 py-3"><%= sortable("status", "Status") %></th>
          <th class="px-4 py-3">Assigned To</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @assets.present? %> 
          <% @assets.each_with_index do |asset, i| %>
            <tr class="<%= cycle('bg-white', 'bg-gray-100') %>">
              <td class="px-4 py-2"><%= i + 1 %></td>
              <td class="px-4 py-2"><%= asset.name&.camelcase %></td>
              <td class="px-4 py-2"><%= asset.asset_category.name&.camelcase %></td>
              <td class="px-4 py-2">
                <span class="px-2 py-1 rounded-full text-xs font-medium <%= asset.status == 'scrapped' ? 'bg-red-200 text-red-800' : 'bg-green-200 text-green-800' %>">
                  <%= asset.status&.capitalize %>
                </span>
              </td>
              <td class="px-4 py-2"><%= asset.current_assignment&.user&.full_name&.camelcase %></td>
              <td class="px-4 py-2">
                <div class="flex items-center gap-2">
                  <%= link_to asset_path(asset), data: { turbo: false }, class: "inline-flex items-center justify-center border border-green-300 bg-white text-green-700 rounded-md p-2 hover:bg-green-300 hover:border-green-500 transition duration-200 mx-1" do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                  <% if current_user.admin? || current_user.hr? %>
                    <%= link_to edit_asset_path(asset), data: { turbo: false }, class: "inline-flex items-center justify-center border border-blue-300 bg-white text-blue-700 rounded-md p-2 hover:bg-blue-300 hover:border-blue-500 transition duration-200 mx-1" do %>
                      <i class="fas fa-edit"></i>
                    <% end %>

                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        <% else %>
            <tr class="bg-white">
              <td colspan="7" class="px-4 py-2 text-center">No assets found.</td>
            </tr>
        <% end %>
        <% if @assets.any? %>
          <tr>
            <td style="background-color: white; padding-top: 15px;" colspan="100%"> 
              <div class="flex bg-white px-4 py-2">
                <%= paginate @assets, class: 'flex items-center space-x-6 text-white' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
