<div class="container mx-auto px-6">
  <div class="bg-white shadow-xl rounded-1xl overflow-hidden">
    <div class="flex items-center justify-between  bg-gray-200 px-6 py-4 border-b">
      <h2 class="font-semibold text-gray-600 text-xl"><%= form_type == "edit" ? "Update Expense" : "Create Expense" %></h2>
      <div class="  flex justify-end space-x-4">
        <%= link_to expenses_path, data: { turbo: false },
            class: "inline-flex items-center gap-2 bg-gray-100 hover:bg-gray-200 text-gray-700 px-4 py-2 rounded-lg text-sm font-medium border border-gray-300 shadow-sm transition duration-150" do %>
          <i class="fas fa-arrow-left" aria-hidden="true"></i>
          <span>Back to Expenses</span>
        <% end %>
      </div>
    </div>
    <div class="p-6 space-y-8">
      <%= form_with model: expense, data: { turbo: false }, class: "space-y-6" do |f| %>
        <% if expense.errors.any? %>
          <div class="bg-red-100 text-red-700 p-4 rounded mb-4">
            <ul class="list-disc pl-5">
              <% expense.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-4">
          <%= f.label :title, "Title <span class='text-red-500'>*</span>".html_safe, class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_field :title, required: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-700" %>
        </div>

        <div class="mb-4">
          <%= f.label :amount, "Amount <span class='text-red-500'>*</span>".html_safe, class: "block text-sm font-medium text-gray-700" %>
          <%= f.number_field :amount, required: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-700" %>
        </div>

        <div class="mb-4">
          <%= f.label :category, "Category <span class='text-red-500'>*</span>".html_safe, class: "block text-sm font-medium text-gray-700" %>
          <%= f.select :category, Expense.categories.keys.map { |category| [category.humanize, category] }, { prompt: "Select Category" }, required: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-700" %>
        </div>

        <div class="mb-4">
          <%= f.label :description, class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_area :description, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-700"%>
        </div>

        <div class="mb-4">
          <%= f.label :date, "Date <span class='text-red-500'>*</span>".html_safe, class: "block text-sm font-medium text-gray-700" %>
          <%= f.date_field :date, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-gray-700"%>
        </div>

        <div class="mb-4">
          <%= f.label :proof, "Proof <span class='text-red-500'>*</span>".html_safe, class: 'block text-sm font-medium text-gray-700' %>
          <% if f.object.proof.attached? && form_type == "edit" %>
            <div class="text-sm text-gray-600 mb-2">
              Attached file:
              <%= link_to f.object.proof.filename.to_s, url_for(f.object.proof), target: "_blank", class: "text-indigo-600 underline" %>
            </div>
          <% end %>

          <div class="flex rounded-md shadow-sm overflow-hidden">
            <%= f.file_field :proof, id: 'file-upload', class: 'hidden' %>

            <label for="file-upload" class="inline-flex items-center bg-gray-600 text-white px-4 py-2 text-sm font-medium hover:bg-gray-700 cursor-pointer">
              <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a2 2 0 002 2h12a2 2 0 002-2v-1M12 12V4m0 0l-4 4m4-4l4 4" />
              </svg>
              Choose 
            </label>

            <span id="file-name" class="flex items-center px-3 text-sm text-gray-700 border border-l-0 border-gray-300 bg-white w-full truncate">
              No file chosen
            </span>
          </div>
        </div>

        <div class="mb-4">
          <%= f.submit form_type == "edit" ? "Update Expense" : "Create Expense", class: "w-full bg-gray-600 hover:bg-gray-700 text-white px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const input = document.getElementById("file-upload");
    const fileNameDisplay = document.getElementById("file-name");

    input.addEventListener("change", function () {
      const fileName = this.files.length ? this.files[0].name : "No file chosen";
      fileNameDisplay.textContent = fileName;
    });
  });
</script>