<div class="container mx-auto px-6">
  <div class="bg-white shadow-xl rounded overflow-hidden">
    
    <!-- Header -->
    <div class="flex items-center justify-between bg-gray-200 px-6 py-4 border-b">
      <h2 class="text-xl font-semibold text-gray-600">Expense Information</h2>
        <div class="flex justify-end space-x-4">
          <div>
            <% if page_type == "edit" || page_type == "new" %>
              <%= button_tag type: 'submit',
                  class: "inline-flex items-center gap-2 bg-gray-100 hover:bg-gray-200 text-gray-600 px-5 py-3 rounded-md font-semibold shadow-sm transition duration-200" do %>
                <i class="fas fa-user-edit" aria-hidden="true"></i>
                <span><%= page_type == "edit" ? "Update Expense" : "Create Expense" %></span>
              <% end %>
            <% end %>
          </div>
          <div>
            <%= link_to expenses_path, data: { turbo: false },
                class: "inline-flex items-center gap-2 bg-gray-100 hover:bg-gray-200 text-gray-600 px-5 py-3 rounded-md font-semibold shadow-sm transition duration-200" do %>
                <i class="fas fa-arrow-left" aria-hidden="true"></i>
                <span>Back to Expenses</span>
            <% end %>
          </div>
        </div>
    </div>

    <div class="p-6 space-y-10">
      <%= render 'shared/form_errors', object: @expense %>
      <!-- Basic Info -->
      <div>
        <h2 class="text-xl font-semibold text-gray-600 mb-4 border-b pb-2">Basic Information</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <% if page_type == "edit" || page_type == "new"%>
              <%= form.label :title, "Title <span class='text-red-500'>*</span>".html_safe, class: "text-gray-600 font-semibold uppercase tracking-wide" %>
              <%= form.text_field :title, required: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm text-gray-700" %>
            <% else %>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Title</label>
              <p class="text-gray-600 text-base mt-1"><%= @expense.title&.camelcase %></p>
            <% end %>
          </div>

          <div>
            <% if page_type == "edit" || page_type == "new" %>
              <%= form.label :amount, "Amount <span class='text-red-500'>*</span>".html_safe, class: "text-gray-600 font-semibold uppercase tracking-wide" %>
              <%= form.number_field :amount, required: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm text-gray-700" %>
            <% else %>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Amount</label>
              <p class="text-gray-600 text-base mt-1"><%= number_to_currency(@expense.amount) %></p>
            <% end %>
          </div>

          <div>
            <% if page_type == "edit" || page_type == "new" %>
              <%= form.label :category, "Category <span class='text-red-500'>*</span>".html_safe, class: "text-gray-600 font-semibold uppercase tracking-wide" %>
              <%= form.select :category, Expense.categories.keys.sort.map { |category| [category.humanize, category] }, { prompt: "Select Category" }, required: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm text-gray-700" %>
            <% else %>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Category</label>
              <p class="text-gray-600 text-base mt-1"><%= @expense.category&.humanize %></p>
            <% end %>
          </div>
          
          <div>
            <% if page_type == "edit" || page_type == "new" %>
              <%= form.label :date, "Date <span class='text-red-500'>*</span>".html_safe, class: "text-gray-600 font-semibold uppercase tracking-wide" %>
              <div class="relative">
                <%= form.text_field :date, required: true, data: { controller: "flatpickr" }, class: "mt-1 block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm text-gray-700", placeholder: "Select a date" %>

                <div class="absolute inset-y-0 left-0 pl-3 text-gray-700 flex items-center pointer-events-none">
                  <i class="fas fa-calendar-alt mr-2"></i>
                </div>
              </div>
            <% else %>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Date</label>
              <p class="text-gray-600 text-base mt-1"><%= @expense.date&.strftime('%B %d, %Y') %></p>
            <% end %>
          </div>

          <div>
            <% if page_type == "edit" || page_type == "new" %>
              <%= form.label :description, class: "text-gray-600 font-semibold uppercase tracking-wide" %>
              <%= form.text_area :description, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm text-gray-700"%>
            <% else %>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Description</label>
              <p class="text-gray-600 text-base mt-1"><%= @expense.description&.camelcase %></p>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Submission Info -->
      <% if page_type == "view" %>
        <div>
          <h2 class="text-xl font-semibold text-gray-600 mb-4 border-b pb-2">Submission Information</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Submitted By</label>
              <p class="text-gray-600 text-base mt-1"><%= @expense.user.email %></p>
            </div>
            <div>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Created At</label>
              <p class="text-gray-600 text-base mt-1"><%= @expense.created_at.strftime('%B %d, %Y') %></p>
            </div>
            <div>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Updated At</label>
              <p class="text-gray-600 text-base mt-1"><%= @expense.updated_at.strftime('%B %d, %Y') %></p>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Attachment -->
      <div>
        <h2 class="text-xl font-semibold text-gray-600 mb-4 border-b pb-2">Attachment</h2>
        <div>
          <% if page_type == "edit" || page_type == "new" %>
            <%= form.label :proofs, "Proof <span class='text-red-500'>*</span>".html_safe, class: "text-gray-600 font-semibold uppercase tracking-wide mb-2" %>
            <% if @expense.errors[:proofs].any? %>
            <% elsif form.object.persisted? && form.object.proofs.attached? %>
              <div class="font-semibold text-gray-600 mb-2 mt-1">
                Attached files:
                <ul class="list-disc ml-5 space-y-1">
                  <% form.object.proofs.each do |file| %>
                    <li class="flex items-center space-x-2">
                      <div id="proof_<%= file.blob.id %>">
                        <%= link_to file.filename.to_s, url_for(file), target: "_blank", class: "text-indigo-600 underline" %>
                        <%= link_to "✕", nil, role: "button", data: { controller: "remove-file", action: "click->remove-file#remove", remove_file_url_value: remove_proof_expense_path(@expense.id, proof_id: file.blob.id)}, class: "text-red-600 hover:text-red-800 text-sm" %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="flex rounded-md shadow-sm overflow-hidden">
              <%= form.file_field :proofs, required: page_type == "new" ? true : false, id: 'file-upload', multiple: true, class: 'hidden' %>
              <label for="file-upload" class="inline-flex items-center bg-gray-600 text-white px-4 py-2 text-sm font-medium hover:bg-gray-700 cursor-pointer">
                <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a2 2 0 002 2h12a2 2 0 002-2v-1M12 12V4m0 0l-4 4m4-4l4 4" />
                </svg>
                Choose 
              </label>

                <span id="file-name" class="flex items-center px-3 text-sm text-gray-600 border border-l-0 border-gray-300 bg-white w-full truncate">
                  No file chosen
                </span>
              </div>
            </div>
          <% else %>
            <% if @expense.proofs.attached? %>
              <label class="text-gray-600 font-semibold uppercase tracking-wide">Proofs</label>
              <ul class="text-blue-600 mt-1 list-disc pl-5">
                <% @expense.proofs.each do |file| %>
                  <li>
                    <%= link_to file.filename.to_s, url_for(file), target: "_blank", class: "underline" %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('turbo:load', () => {
    const input = document.getElementById("file-upload");
    const fileNameDisplay = document.getElementById("file-name");

    input.addEventListener("change", function () {
      const fileName = this.files.length ? this.files[0].name : "No file chosen";
      fileNameDisplay.textContent = fileName;
    });
  });
</script>
