<div class="container mx-auto">
  <!-- Button positioned above the table (50px from the bottom, right side) -->
  <div class="new-button">
    <%= link_to new_expense_path, class: 'text-white rounded-md shadow-md', style: 'background-color: #515156;' do %>
      <%= image_tag '/new.png', alt: 'New Ticket Icon', size: '20x20' %>
    <% end %>
  </div>
  
  <!-- Table with increased width -->
  <table class="my_table">
    <thead>
      <tr style="background-color: #515156">
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 5%;">S.N.</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 15%;">User</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 15%;">Title</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 15%;">Amount</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 15%;">Category</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 15%;">Date</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 10%;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each_with_index do |expense, i| %>
        <tr class="<%= cycle('bg-white', 'bg-gray-300') %>">
          <td class="px-4 py-2 text-sm text-gray-900"><%= i + 1 %></td>
          <td class="px-4 py-2 text-sm text-gray-900"><%= expense.user.email %></td>
          <td class="px-4 py-2 text-sm text-gray-900"><%= expense.title %></td>
          <td class="px-4 py-2 text-sm text-gray-900"><%= number_to_currency(expense.amount) %></td>
          <td class="px-4 py-2 text-sm text-gray-900"><%= expense.category %></td>
          <td class="px-4 py-2 text-sm text-gray-900"><%= expense.date&.strftime('%B %d, %Y') %></td>
          <td class="px-4 py-2 text-sm">
            <div class="flex space-x-2 items-center">
              <!-- Show Link with Image -->
              <%= link_to expense_path(expense) do %>
                <%= image_tag '/show.png', alt: 'Show Expense', size: '15x15' %>
              <% end %>

              <!-- Edit Link with Image -->
              <%= link_to edit_expense_path(expense) do %>
                <%= image_tag '/edit.png', alt: 'Edit Expense', size: '15x15' %>
              <% end %>

              <!-- Delete Link with Image -->
              <%= button_to expense_path(expense), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <%= image_tag '/delete.png', alt: 'Delete Expense', size: '15x15' %>
              <% end %>

            </div>
          </td>
        </tr>
      <% end %>
      <tr><td><%= paginate @expenses , class: 'flex items-center space-x-2' %></td> </tr>
    </tbody>
  </table>
</div>

<style>
  
  .my_table {
    width: 85% !important; 

    margin-left: auto;     
    margin-right: auto;    
    display: block;
} 
  .my_table th {
    color: white;
  }

   .my_table th {
    border: .1px solid black;
    text-align: left;
  }

  .my_table tr:nth-child(even) {
    }

  .container {
    width: 85%;
    margin-right: auto;
    display: block;
  }

  .new-button {
    margin: auto;
    margin-left: 90%;
    margin-bottom: 20px !important;
}
</style>