<!-- Confirmation Modal -->
  <div id="confirmationModal" class="hidden fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center z-50">
    <div class="bg-white p-4 rounded-md shadow-lg">
      <h2 class="text-lg font-semibold"> Delete this expense?</h2>
      <div class="mt-4 flex justify-between">
        <button id="cancelDelete" class="bg-gray-300 px-4 py-2 rounded-md">Cancel</button>
        <button id="confirmDelete" class="bg-red-500 text-white px-4 py-2 rounded-md">Confirm</button>
      </div>
    </div>
  </div>

<div class="container mx-auto">
  <!-- Button positioned above the table (50px from the bottom, right side) -->
  <div class="new-button">
    <%= link_to new_expense_path, class: 'text-white rounded-md shadow-md', style: 'background-color: #515156;' do %>
      <div class="flex items-center">
        <%= image_tag '/plus.png', alt: 'New Expense Icon', size: '20x20', title: 'create a new expense' %>
        <span class="ml-2 text-gray-700">New</span>  <!-- Added margin for spacing -->
      </div>
    <% end %>
  </div>

  <div class="expense_filer">
    <%= form_with(url: expenses_path, method: :get) do %>
      <div>
        <table>
        <tr><td><%= label_tag :category, "Category", class: "text-sm font-medium text-black" %></td>
          <td><%= select_tag :category, options_for_select([['All', '']] + Expense.categories.keys.map { |category| [category.titleize, category] }, params[:category]), class: 'mt-1 p-2 border border-gray-300 rounded-md text-sm font-medium text-white bg-gray-700' %></td>        
          <td>
            <%= button_tag type: 'submit' do %>
              <%= image_tag '/filter.png', alt: 'Filter', size: '40x20' %>
            <% end %>
          </td>
        </tr>
          </table>
      </div>
    <% end %>
  </div>  

  
  <!-- Table with increased width -->
  <% if @expenses.present? %>
    <table class="my_table">
      <thead>
        <tr style="background-color: #515156">
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 5%;">S.N.</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 15%;">User</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 15%;">Title</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 15%;">Amount</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 15%;">Category</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 15%;">Date</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-white bg-gray-700" style="width: 10%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each_with_index do |expense, i| %>
          <tr class="<%= cycle('bg-white', 'bg-gray-300') %>">
            <td class="px-4 py-2 text-sm text-gray-900"><%= i + 1 %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= expense.user&.full_name %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= expense.title %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= number_to_currency(expense.amount) %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= expense.category %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= expense.date&.strftime('%B %d, %Y') %></td>
            <td class="px-4 py-2 text-sm">
              <div class="flex space-x-2 items-center">
                <!-- Show Link with Image -->
                <%= link_to expense_path(expense) do %>
                  <%= image_tag '/show1.png', alt: 'Show Expense', size: '15x15' %>
                <% end %>

                <!-- Edit Link with Image -->
                <%= link_to edit_expense_path(expense) do %>
                  <%= image_tag '/edit1.png', alt: 'Edit Expense', size: '15x15' %>
                <% end %>                

                <%= button_to expense_path(expense), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-expense-btn', id: "delete-btn-#{expense.id}", form_id: "delete-form-#{expense.id}" do %>
                  <%= image_tag '/delete1.png', alt: 'Delete Expense', size: '15x15' %>
                <% end %>

                <%= form_with(model: expense, method: :delete, local: true, id: "delete-form-#{expense.id}", class: 'hidden') do |form| %>
                  <%= form.submit 'Delete', class: 'hidden' %>
                <% end %>

              </div>
            </td>
          </tr>
        <% end %>
        <% if @expenses.any? %>
          <tr>
            <!-- Ensure the entire background is white for the row -->
            <td style="background-color: white; padding-top: 15px;" colspan="100%"> <!-- colSpan ensures the pagination spans the full width -->
              <div class="flex">
                <%= paginate @expenses, class: 'flex items-center space-x-6 text-white' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-gray-700 blank_value">No expense found.</p>
  <% end %>  
</div>

<style>
  
  .blank_value{
    width: 75% !important; 
    margin-left: auto;     
    margin-right: auto;    
    display: block;

  }
  .expense_filer {
    margin: auto;
    margin-left: 7%;
    margin-bottom: 15px !important;
  }
  .expense_filer table {
    width: 25%;
  }
  .expense_filer table tr td {
    padding: 1px;
  } 
  .my_table {
    width: 85% !important; 
    margin-left: auto;     
    margin-right: auto;    
    display: block;
    height: 500px;

}

   .my_table th {
    border: .1px solid black;
    text-align: left;
  }

  .my_table tr:nth-child(even) {
  }

    .container {
    width: 85%;
    margin-right: auto;
    display: block;
    background-color: white;
    padding: 10px;
  }
  
  .new-button {
    margin: auto;
    margin-left: 88%;
    margin-bottom: -25px !important;
  }

  #confirmationModal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -70px;
  }

  #confirmationModal .bg-white {
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  #confirmationModal button {
    padding: 8px 16px; 
    font-size: 0.875rem; 
    margin: 4px; 
    cursor: pointer;

  }

  #confirmationModal button:hover {
    background-color: #ccc;
  }

  #confirmationModal.hidden {
    display: none !important;
  }
</style>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const deleteBtns = document.querySelectorAll('.delete-expense-btn');
  const modal = document.getElementById('confirmationModal');
  const confirmDeleteBtn = document.getElementById('confirmDelete');
  const cancelDeleteBtn = document.getElementById('cancelDelete');
  let formToSubmit = null;

  deleteBtns.forEach(btn => {
    btn.addEventListener('click', function(event) {
      event.preventDefault();
      const expenseId = btn.id.split('-')[2]; 
      formToSubmit = document.getElementById(`delete-form-${expenseId}`); 
      modal.classList.remove('hidden');
    });
  });

  cancelDeleteBtn.addEventListener('click', function() {
    modal.classList.add('hidden');
  });

  confirmDeleteBtn.addEventListener('click', function() {
    if (formToSubmit) {
      formToSubmit.submit(); 
    }
  });
});

</script>
