<body>
  <!--Container -->
  <div class="mx-auto bg-grey-400", style="position: fixed; top: 0; width: 100%; z-index: 1000;">
    <!--Screen-->
    <header class="bg-nav">
      <div class="flex justify-between">
        <div class="p-1 mx-3 inline-flex items-center">
          <%= image_tag '/logo-primary.png', alt: 'HR Management Logo', size: "100x100" %>
        </div>
        <div class="p-1 flex flex-row items-center">
          <div class="flex items-center ml-auto relative">
            <% if user_signed_in? %>
              <div class="relative -ml-2" data-controller="dropdown">
                <button 
                  class="flex items-center space-x-2 text-white hover:text-gray-300 focus:outline-none" 
                  data-action="click->dropdown#toggle"
                  type="button"
                  data-turbo="false">
                  <span class="text-white p-2 no-underline hidden md:block lg:block">
                    <i class="fas fa-user mr-1"></i>
                    <%= "Manage Account" %>
                  </span>
                  <i class="fas fa-caret-down text-white", style="margin-right:20px;"></i>
                </button>

                <!-- Profile Dropdown -->

                <div data-dropdown-target="menu" class="hidden absolute right-0 mt-1 min-w-[16rem] w-auto max-w-[24rem] rounded shadow-md bg-nav z-50 whitespace-nowrap">
                  <ul class="list-reset">
                    <% if current_user.is_active %>
                      <li>
                        <%= link_to "/users/#{current_user.id}", class: "no-underline px-4 py-2 block text-black hover:bg-gray-900 text-white" do %>
                          <i class="fas fa-user mr-2 text-white"></i>
                          Profile
                        <% end %>
                      </li>
                      <li>
                        <%= link_to "/users/edit", class: "no-underline px-4 py-2 block text-black hover:bg-gray-900 text-white" do %>
                          <i class="fas fa-key mr-2 text-white"></i>
                          Change Password
                        <% end %>
                      </li>
                    <% end %>
                    <li>
                      <%= form_with url: destroy_user_session_path, method: :delete, class: 'block' do |form| %>
                        <button type="submit" class="block w-full text-left px-4 py-2 text-black hover:bg-gray-900 text-white" data-disable-with="Logging out...">
                          <i class="fas fa-sign-out-alt mr-2 text-white"></i>
                          Logout
                        </button>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </header>
  </div>
</body>