<!--Sidebar-->
<aside id="sidebar" class="bg-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block", style="position: fixed; margin-top: 40px; height:100%">
  <ul class="list-reset flex flex-col">
    <% if current_user && current_user.is_active %>
        <li class="w-full px-4 py-6 flex items-center bg-nav text-white">
          <div class="mr-4">
            <i class="fas fa-user-circle text-5xl"></i> <!-- Large user icon -->
          </div>
          <div>
            <div class="text-lg font-semibold">
              <%= current_user.first_name %> <%= current_user.last_name %>
            </div>
            <div class="text-sm text-gray-500">
              <%= current_user.role.capitalize %>
            </div>
          </div>
        </li>

      <%= nav_link(root_path) do %>
        <li class="w-full h-full py-3 px-2">
            <i class="fas fa-tachometer-alt float-left mx-2"></i> Dashboard
    
        </li>
      <% end %>
      
      <%= nav_link(tickets_path) do %>
        <li class="w-full h-full py-3 px-2">
          <i class="fas fa-ticket-alt float-left mx-2"></i> Tickets
  
        </li>
      <% end %>
      <%= nav_link(expenses_path) do %>
        <li class="w-full h-full py-3 px-2">
          <i class="fas fa-coins float-left mx-2"></i> Expenses
  
        </li>
      <% end %>
      <%= nav_link(reimbursement_requests_path) do %>
        <li class="w-full h-full py-3 px-2">
          <i class="fas fa-file-invoice-dollar float-left mx-2"></i> Reimbursements
  
        </li>
      <% end %>
      <% if current_user.role == "hr" || current_user.role == "admin" %>
        <%= nav_link(users_path) do %>
          <li class="w-full h-full py-3 px-2">
            <i class="fas fa-users float-left mx-2"></i> Manage Users
    
          </li>
        <% end %>

        <%= nav_link(assets_path) do %>
          <li class="w-full h-full py-3 px-2">
            <i class="fas fa-box-open float-left mx-2"></i> Manage Assets
    
          </li>
        <% end %>

        <%= nav_link(reports_path) do %>
          <li class="w-full h-full py-3 px-2">
            <i class="fas fa-chart-bar float-left mx-2"></i> Reports
    
          </li>
        <% end %>
      <% else %>  
      <%= nav_link(assets_path) do %>
        <li class="w-full h-full py-3 px-2">
          <i class="fas fa-box-open float-left mx-2"></i> My Assets
  
        </li>
      <% end %>
      <% end %>
    <% end %>
  </ul>
</aside>

<script>
  function sidebarToggle() {
    const sidebar = document.getElementById('sidebar');
    if (sidebar.classList.contains('hidden')) {
      sidebar.classList.remove('hidden');
    } else {
      sidebar.classList.add('hidden');
    }
  }
</script>