<!DOCTYPE html>
<html>
  <head>
  <%= render 'layouts/header' %>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="tailwind,tailwindcss,tailwind css,css,starter template,free template,admin templates, admin template, admin dashboard, free tailwind templates, tailwind example">
   
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <%# <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background: #f7fafc; min-height: 100vh; font-family: 'Roboto', sans-serif;">
    <div data-controller="hello">
      <div data-hello-target="output"></div>
    </div>

    <% if flash[:alert] %>
      <div class="alert alert-warning" style="background-color: yellow; color: black; border-color: #e0e0e0;">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="alert alert-danger" style="background-color: red; color: white; border-color: #e0e0e0;">
        <%= flash[:error] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div class="flex flex-1">
        <%= render 'layouts/sidebar' %>
        <main class="bg-white-300 flex-1 p-3 overflow-hidden", style="margin-left: 18%; margin-top: 60px; padding-bottom: 60px;">
          <%= yield %>
        </main>
      </div>
    <% else %>  
      <div class="flex flex-1">
        <main class="flex-1 p-3 overflow-hidden">
          <%= yield %>
        </main>
      </div>
    <% end %>

  </body>

  <%= render 'layouts/footer' %>
</html>